@import "src/assets/style/variables";

.dv-department-btn {
  background-color: $main-blue;
  border-radius: 25px;
  border: none;
  color: #fff;
  box-shadow: $dv-box-shadow;
  font-size: 20px;
  line-height: 24px;
  padding: 0.4rem 3rem;
  transition: all 0.3s linear;

  &:hover {
    background-color: $main-blue-hover;
  }
}

.dv-cancel-btn {
  background-color: transparent;
  color: $main-blue;
  padding: 0.3rem 3.5rem;
  margin: 0 0.3rem;

  &:hover {
    background-color: $main-blue-hover;
    color: #fff;
  }
}

.dv-access-btn {
  background-color: $main-blue;
  color: #fafafa;
  padding: 0.3rem 3.5rem;
  margin: 0 0.3rem;

  &:hover {
    background-color: $main-blue-hover;
  }
}

.dv-bg-light {
  background-color: #fff !important;
  border-radius: 10px;
}
.dv-reorder-department-items {
  div:not(.dv-reorder-department){
    background-color: #fff;
    &:nth-child(odd) {
      background-color: #FAFAFA;
    }
  }
}
.dl-item{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  &:hover{
    cursor: pointer;
    background-color: $dv-gray-ea;
  }
}
.dv-department-name {
  width: 60%;
  padding-left: 10rem;
  color: $light-gray-text;
  background-color: transparent !important;
  font-size: 18px;
  line-height: 24px;
}

.dv-reorder-department {
  width: 20%;
  text-align: center;
  color: $light-gray-text;
  background-color: transparent !important;
  font-size: 18px;
  line-height: 24px;
}

.dv-delete-department {
  width: 20%;
  background-color: transparent !important;
  color: $light-gray-text;
  font-size: 18px;
  line-height: 24px;
}



.dv-department-icon {
  width: 47px;
  height: 47px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: $dv-box-shadow;
  border-radius: 50%;
  color: #3b3a3a;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: #d6d5d5;
  }
}


.dv-department-table {
  border-collapse: separate;
  border-spacing: 0;
  //box-shadow: $dv-box-shadow;

  thead th {
    border: none !important;
    color: $light-gray-text;
    padding: 2.3rem 0.8rem 1rem 0.8rem;
    font-size: 18px;
    font-weight: normal;

    &:first-child {
      border-radius: 10px 0 0 0 !important;
    }

    &:last-child {
      border-radius: 0 10px 0 0 !important;
    }
  }

  tbody tr {


    td {
      padding: 1.3rem 0.8rem;
      vertical-align: middle;
      font-size: 18px;
      border: none !important;
      color: #000000 !important;

    }

    .dv-arrow-right {
      a {
        color: $light-gray-text;
        font-size: 2rem;
        transition: all 0.2s linear;

        &:hover {
          color: $main-hover-link;
        }
      }
    }

    &:last-child {
      td:first-child {
        border-radius: 0 0 0 10px !important;
      }

      td:last-child {
        border-radius: 0 0 10px 0 !important;
      }
    }

  }
}

.dv-input-department {
  border-radius: 5px;
  box-shadow: $dv-box-shadow;
  border: 1px solid #757575;
  padding: 0.4rem 1rem;
  width: 100%;
}

.dv-reorder {
  padding-right: 2.5rem !important;
}



/**********************************************/

#container h2 {
  margin-bottom: 10px;
}

.drag-handle {
  &:hover{
    text-decoration: none;
    cursor: move;
  }
  cursor: move!important;
  i{
    &:hover{
      cursor: move;
    }
    cursor: move!important;
  }
}
.ant-table-content{
  //padding: 0.5rem 7rem;
  table{
    width: 100%;
    .ant-table-thead{
      tr{
        th{
          &:first-child{
            padding-left: 160px;
          }
          &:nth-child(2){
            text-align: end;
            padding-right: 53px;
          }
          &:last-child{
            padding-right: 25px;
          }

          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          color: $light-gray-text;
          padding: 0 0 0.75rem 0;
        }
      }
    }
    .ant-table-row{
      &:hover{
        td{
          background-color: #e7e7e7 !important;
        }
      }
      &:nth-child(odd){
       td{
         padding: 0.5rem 0;
         background-color: #FAFAFA;
         transition: 0.3s linear all;
         &:first-child{
           padding-left: 160px;
         }
         &:nth-child(2){
           text-align: end;
           padding-right: 30px;
         }
         &:last-child{
           padding-right: 25px;
         }

       }
      }
      &:nth-child(even){
        td{
          transition: 0.3s linear all;
          &:first-child{
            padding-left: 160px;
          }
          &:nth-child(2){
            text-align: end;
            padding-right: 30px;
          }
          &:last-child{
            padding-right: 25px;
          }
          padding: 0.5rem 0;
          background-color: #FFF;
        }
      }
      //&:hover{
      //  background-color: #757575;
      //}
    }
  }
}

@media (max-width: 768px) {
  .ant-table-content{
    table{
      .ant-table-thead{
        tr{
          th{
            &:first-child{
              padding-left: 25px;
            }
          }
        }
      }
      .ant-table-row{
        &:nth-child(odd){
          td{
            &:first-child{
              padding-left: 25px;
            }
          }
        }
        &:nth-child(even){
          td{
            &:first-child{
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
}