@import "src/assets/style/variables";

.dv-main-top-menu{
  background-color: $main-dark-menu;
  padding: 5px 13px 5px 33px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  .dv-navbar-logo{
    span{
      font-size: 22px;
      padding-right: 3rem;
    }
    .dv-header-icon{
      margin: 0.4rem 0.4rem 0 0.4rem;
    }
    .dv-circle-red{
      width: 21px;
      height: 21px;
      background-color: $main-light-red;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .navbar-nav a{
    color: #fff !important;
    text-decoration: none;
    transition: all 0.2s linear;
    padding-bottom: 0.3rem;
    &:hover{
      color: $main-hover-link !important;
    }
  }
  .navbar-nav .active{
    color: $main-hover-link !important;
  }
.dropdown-item:hover{
  background-color: transparent !important;
}
}
.dv-top-menu-red{
  background-color: $main-light-red;
}
.dropdown-menu{
  background: $main-dark-menu !important;
  border: none !important;
}
@media (max-width: 992px) {
  #dv_header_title{
    display: none !important;
  }
}
