@import 'src/assets/style/variables';

.dv-left-sidebar-terms{
  background-color: #5A5A5A;
  width: 360px;
  position: fixed !important;
  height: 100%;
  align-items: start !important;
  justify-content: start !important;
  .dv-btn-terms-parent-sidebar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    .dv-btn-term-new-doc{
      background-color: $dv-gray-ea;
      color: $main-blue;
      padding: 0.5rem 4rem;
      margin-top: 0.2rem;
      &:hover{
        background-color: $bg-customer-vendor;
      }
    }
  }
  .dv-navbar-terms{
    background: #5A5A5A;
    width: 100%;
    padding: 0;
    .dv-list-items{
      background-color: #413F3F;
      width: 100%;
      font-size: 20px;
      line-height: 27px;
      margin: 0.4rem 0;
      color: #C3BFBF;
      padding: 1rem;
      text-decoration: none;
      transition: all 0.3s linear;
      &:hover{
        background-color:$dv-gray-ea ;
        color: #413F3F;
        text-decoration: none;
      }
      &.active{
        background-color: $dv-gray-ea;
        color: #413F3F;
      }
      .dv-terms-sidebar-icon{
        background-color: #FAFAFA;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        box-shadow: $dv-box-shadow;
        color: #000;
        font-size: 1.6rem;
        transition: all 0.3s linear;
        &:hover{
          background-color: #eaeaea;
        }
      }
    }
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link , .nav-pills .nav-link.active .dv-list-items{
  background-color: $dv-gray-ea !important;
  color: #413F3F !important;
}
.nav-pills .nav-link{
  background-color: #413F3F;
  width: 100%;
  font-size: 20px;
  line-height: 27px;
  margin: 0.4rem 0;
  color: #C3BFBF;
  padding: 0 !important;
  text-decoration: none;
  transition: all 0.3s linear;
}
.dv-right-content-terms{
  //margin-left: 360px;
  padding: 1rem 2rem;
  width: 100%;
  h1{
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
  }
  .dv-terms-edit-btn{
    background-color: $dv-gray-ea;
    color: $main-blue;
    padding: 0.3rem 3rem;
    &:hover{
      background-color: $main-blue;
      color: #fff;
    }
  }
  .dv-terms-content{
    background-color: #fff;
    border-radius: 10px;

    p{
      font-size: 20px;
      line-height: 24px;
      color: #413F3F;
      margin-bottom: 0;
      font-family: 'FuturaPT-Book' !important;
    }
  }
}
.dv-pen-btn-edit{
  color: $main-blue;
  font-size: 2rem;
}
.dv-add-title-terms{
  border-bottom: 1px solid #707070;
  cursor: pointer;
}
.dv-terms-submit-btn {
  background-color: $main-blue;
  box-shadow: $dv-box-shadow;
  color: $dv-gray-ea;
  padding: 0.3rem 2.5rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  transition: all 0.3s linear;

  &:hover {
    background-color: $main-blue-hover;
  }
}

.dv-terms-cancel {
  background-color: transparent !important;
  color: $main-blue;
  padding: 0.3rem 2.5rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  transition: all 0.3s linear;

  &:hover {
    background-color: $main-blue-hover !important;
    color: $dv-gray-ea;
  }
}
.dv-input{
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  padding: 0.5rem;
  background-color: transparent !important;
}
.swal2-styled.swal2-confirm{
  border-radius: 10px !important;
  padding: 0.5rem 2.5rem !important;
  background-color: $main-blue;
  &:hover{
    background-color: $main-blue-hover
  }
}


.dv-terms-right-admin {
  background-color: $bg-right-sidebar;
  width: 330px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 3rem;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #969292;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #969292;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
  .dv-btn-term-new-doc{
    background-color: $dv-gray-ea;
    color: $main-blue;
    padding: 0.3rem 2rem;
    font-size: 18px;
    line-height: 24px;
    border-radius: 25px;
    margin: 0.4rem 2rem;
    text-align: center;
    width: 100%;
    box-shadow: $dv-box-shadow;
    transition: all 0.3s linear;
    text-decoration: none;
    &:hover{
      background-color: $main-blue-hover;
      color: $dv-gray-ea;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    .dv-list-items{
      background-color: #413F3F;
      width: 100%;
      font-size: 20px;
      line-height: 27px;
      margin: 0.4rem 0;
      color: #C3BFBF;
      padding: 1rem;
      text-decoration: none;
      transition: all 0.3s linear;
      &:hover{
        background-color:$dv-gray-ea ;
        color: #413F3F;
        text-decoration: none;
      }
      &.active{
        background-color: $dv-gray-ea;
        color: #413F3F;
      }
      .dv-terms-sidebar-icon{
        background-color: #FAFAFA;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        box-shadow: $dv-box-shadow;
        color: #000;
        font-size: 1.6rem;
        transition: all 0.3s linear;
        &:hover{
          background-color: #eaeaea;
        }
      }
    }
  }
}

.dv-terms-right-content {
  padding: 1rem 1.5rem;
  width: calc(100% - 330px);
  margin-left: auto;
  .dv-edit-terms{
    background-color: $dv-gray-ea;
    padding: 0.2rem 3rem;
    box-shadow: $dv-box-shadow;
    color: $main-blue;
    font-size: 1.2rem;
    line-height: 27px;
    transition: all 0.3s linear;
    &:hover{
      background-color: $main-blue-hover;
      color: #fff;
    }
  }
  .dv-cancel-terms{
    background-color: transparent;
    padding: 0.2rem 1.5rem;
    box-shadow: none !important;
    color: $main-blue;
    font-size: 1.2rem;
    line-height: 27px;
    font-family: "FuturaPT-Book";
    transition: all 0.3s linear;
    &:hover{
      background-color: $main-blue-hover;
      color: #fff;
    }
  }
  .dv-save-terms{
    background-color: $main-blue;
    padding: 0.2rem 1.5rem;
    box-shadow: none !important;
    color: #fff;
    font-size: 1.2rem;
    line-height: 27px;
    font-family: "FuturaPT-Book";
    transition: all 0.3s linear;
    &:hover{
      background-color: $main-blue-hover;
    }
  }
  .dv-bg-light-terms{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 0.3rem 2rem 2rem;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 27px;
    box-shadow: $dv-box-shadow;
  p{
    margin-bottom: 0;
  }
  }
  .dv-title-doc{
    border: none;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #707070;
    font-size: 30px;
    line-height: 40px;
    input{
      background-color: transparent;
      border: none;
      &::placeholder{
        color: #413F3F;
      }
    }
  }
  .dv-textarea-description{
    border: none;
    color: #413F3F;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
  }
}

.dv-terms-list{
  .ant-table-content{
    //padding: 0.5rem 7rem;
    table{
      border-collapse:separate;
      border-spacing:0 15px;
      width: 100%;
      .ant-table-thead{
        display: none;
      }
      .ant-table-row{
        td{
          padding: 0.85rem 0;
          background-color: $bg-right-sidebar-items !important;
          color: #EAEAEA;
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
          transition: 0.3s linear all;
          .dv-department-icon {
            background-color: #d6d5d5;
          }
          .dv-terms-name{
            cursor: pointer;
            &.active{
              background-color: #e7e7e7 !important;
              color: #000 !important;
            }
          }
        }
        &:nth-child(odd){
          td{
            &:first-child{
              padding-left: 20px;
            }
            &:nth-child(2){
              text-align: end;
              padding-right: 10px;
            }
            &:last-child{
              padding-right: 10px;
            }
            
          }
        }
        &:nth-child(even){
          td{
            &:first-child{
              padding-left: 20px;
            }
            &:nth-child(2){
              text-align: end;
              padding-right: 10px;
            }
            &:last-child{
              padding-right: 10px;
            }
          }
        }
        &:hover{
            background-color: #e7e7e7 !important;
            color: #000 !important;
          .dv-terms-name{
            color: #000 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dv-terms-right-admin {
    width: 100%;
    position: unset !important;
  }
  .dv-terms-right-content{
    margin-left: 0;
    width: 100%;
  }
  .navbar{
    padding: 0 !important;
  }
}
