@import "../../../assets/style/variables";
.dv-btn-message-parent-sidebar{
  margin: auto;
  height: 100px;
  padding: 10px 1rem;
}
.w-10{
  width: 10%;
}
.w-90{
  width: 90%;
}
.dv-circle-red{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: $dv-box-shadow;
  background-color: $main-light-red;
}
.dv-navbar-message{
  background: #5A5A5A;
  width: 100%;
  padding: 0;
  .dv-list-items{
    background-color: #413F3F;
    width: 100%;
    font-size: 20px;
    line-height: 27px;
    margin: 0.4rem 0;
    color: #C3BFBF;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s linear;
    &:hover{
      background-color:$dv-gray-ea ;
      color: #413F3F;
      text-decoration: none;
      .dv-message-name{
        color: #2B2626;
      }
      .dv-message-text{
        color: #C3BFBF;
      }
    }
    .dv-terms-sidebar-icon{
      background-color: #FAFAFA;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      box-shadow: $dv-box-shadow;
      color: #000;
      font-size: 1.6rem;
      transition: all 0.3s linear;
      &:hover{
        background-color: #eaeaea;
      }
    }
    .dv-message-name{
      font-size: 18px;
      line-height: 20px;
      color: #F2EFEF;
      font-family: 'FuturaPT-Book' !important;
    }
    .dv-message-date{
      font-size: 14px;
      line-height: 20px;
      color: #707070;
      font-family: 'FuturaPT-Book' !important;
    }
    .dv-message-text{
      font-size: 14px;
      line-height: 20px;
      color: #C3BFBF;
      font-family: 'FuturaPT-Book' !important;
      text-overflow: ellipsis;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -ms-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
    }
  }
}
.nav-link.active{
  background-color: $dv-gray-ea;
  color: #413F3F;
  .dv-message-name{
    color: #2B2626;
  }
  .dv-message-text{
    color: #C3BFBF;
  }
}
.dv-bg-message{
  background: #fff;
  margin-left: 360px;
  height: 100vh;
  //position: fixed;
  .dv-user-name-parent{
    position: fixed;
    top: 4rem;
    left: 24rem;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    height: 75px;
    .dv-user-name{
      color: #000000;
      font-size: 20px;
      line-height: 20px;
      border-radius: 10px 10px 10px 0;
      box-shadow: $dv-box-shadow;
      padding: 1rem;
      background-color: #F7F7F7;
      width: 340px;
      text-align: center;
    }
  }
}

.dv-messages-content{
  margin-top: 5rem;
  overflow-y: auto;
  width: 100%;
  height: 73vh;
  position: absolute;
  background: #fff;
  .dv-user-message-send{
    font-size: 20px;
    line-height: 20px;
    background-color: #D8FFAA;
    border-radius: 10px 10px 0 10px;
    box-shadow: $dv-box-shadow;
    width: 78%;
    margin-left: 17.5%;
    p{
      color: #707070;
      font-size: 18px;
      line-height: 20px;
      padding: 1rem 2rem 0.3rem 2rem;
    }
    .dv-message-send-time{
      color: #C3BCBC;
      text-align: right;
      font-size: 12px;
      line-height: 20px;
      padding-right: 0.45rem;
      padding-bottom: 0.3rem;
    }
  }
  .dv-admin-message-send{
    font-size: 20px;
    line-height: 20px;
    background-color: #FAFAFA;
    border-radius: 10px 10px 10px 0 ;
    box-shadow: $dv-box-shadow;
    width: 55% ;
    margin-right: 17.5%;
    p{
      color: #707070;
      font-size: 18px;
      line-height: 20px;
      padding: 1rem 2rem 0.3rem 2rem;
    }
    .dv-message-send-time{
      color: #C3BCBC;
      text-align: right;
      font-size: 12px;
      line-height: 20px;
      padding-right: 0.45rem;
      padding-bottom: 0.3rem;
    }
  }
}
.dv-messages-footer{
  background-color: #FAFAFA;
  width: 100%;
  height: 89px;
  box-shadow: $dv-box-shadow;
  position: fixed;
  bottom: -1rem;
  left: 22.5rem;
}

@media (max-width: 1200px) {
  .dv-left-sidebar-message {
    width: 100%;
    position: unset !important;
    height: auto !important;
  }
  .dv-right-content-message , .dv-bg-message{
    margin-left: 0;
    width: 100%;
  }

}
